<div class="error">
    <h1><i class="fa fa-frown-o red"></i> 404 error!</h1>
    <p class="lead">We couldn't find what you're looking for on <em><span id="display-domain"></span></em>.</p>
    <p><a href="/" class="btn btn-light btn-lg"><span class="green">Take Me To The Homepage</span></a></p>
</div>