.error{
    margin-top: 10%;
    text-align: center;
    font-family: 'Baloo Bhai';
}
h1{
    color:#000033; 
    margin:0 0 20px;
    line-height:1.1;
    font-size:100px;
    text-align: center;
}  
p {
    margin:0 0 20px;
}

a {
    color:#000033;
    font-weight:400;
    text-decoration:none;
}