<nav class="navbar navbar-default navbar-fixed-top header">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Popcorn</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input id="text" type="text" name="query" [(ngModel)]="query" class="form-control" placeholder="Search" aria-label="Search">
            </div>
            <button (click)="search()" type="submit" style="visibility: hidden;" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="/lists"><span class="glyphicon glyphicon-list"></span></a></li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li> -->
          </ul>
        </div>

    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom footer">
  <div class="container">
    <a class="footer" href="#">© 2017 - Site Built By Popcorn</a>
  </div>
</nav>