.header{
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #000033; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000066', endColorstr='#000033'); 
    background-image: -webkit-linear-gradient(top, #000066, #000033); 
    background-image: -moz-linear-gradient(top, #000066, #000033); 
    background-image: -o-linear-gradient(top, #000066, #000033); 
    background-image: linear-gradient(to bottom, #000066, #000033); 
}
.navbar-nav a{
    color: #FFFFFF;
    font-size: 100%;
}
.navbar-nav a:hover{
    color: gray;
}
.navbar-brand{
    color: #FFFFFF;
    font-size: 30px;
}
.form-control{
    width: 400px;
}

.main{
    margin-right: 5%;
    margin-left: 5%;
}
.footer{
    color: #FFFFFF;
    font-size: 15px;
    background-color: #40405a; 
    text-align: center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555578', endColorstr='#40405a'); 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555578), to(#40405a)); 
    background-image: -webkit-linear-gradient(top, #555578, #40405a); 
    background-image: -moz-linear-gradient(top, #555578, #40405a); 
    background-image: -o-linear-gradient(top, #555578, #40405a); 
    background-image: linear-gradient(to bottom, #555578, #40405a);     
}