.type-header{
    color: gray;
    font-size: 1.8em;
    line-height: 1.1em;
    font-weight: 600;
    display: inline-block;
    font-family: 'Federant';
}
.query-string{
    color: #000033;
    font-size: 0.8em;
    line-height: 1.1em;
    font-weight: 600;
    display: inline-block;
}
.movie-card{
    height: 260px;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 10px;
}
.movie-img{
    border-radius: 5px;
    height: 170px;
    width: 100%;
}
.movie-name{
    color: #000033; 
    font-size: 1.1em;
    text-align: center;
    font-family: 'Baloo Bhai';
    font-style: normal;
    margin-top: 0px;
}
.relase-date{
    color: #666685;
    font-size: 1.0em;
    text-align: center;
    font-family: 'Baloo Bhai';
    font-style: normal;
}