.profile{
    background-color: #191942; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#272767', endColorstr='#191942'); 
    background-image: -webkit-linear-gradient(top, #272767, #191942); 
    background-image: -moz-linear-gradient(top, #272767, #191942); 
    background-image: -o-linear-gradient(top, #272767, #191942); 
    background-image: linear-gradient(to bottom, #272767, #191942);
    padding: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.profile-name{
    margin: 0;
    padding: 25px 0;;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
    color: #e6e6eb;
}
.overview-header{
    color: #ccccd6;
    font-size: 2.0em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
    font-family: "Nova Cut";
}
.overview-text{
    font-family: "Nova Cut";
    color: #ccccd6;
}
.type-header{
    font-size: 2.0em;
    line-height: 1.1em;
    font-weight: 600;
    display: inline-block;
    color: #000033;
}
.count{
    color: gray;
    font-size: 0.8em;
    line-height: 1.1em;
    font-weight: 600;
    display: inline-block;
}
.movie-card{
    height: 270px;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 10px;
}
.movie-img{
    border-radius: 5px;
    height: 190px;
    width: 100%;
}
.movie-name{
    color: #000033;
    font-size: 1.1em;
    text-align: center;
    font-family: 'Baloo Bhai';
    font-style: normal;
    margin-top: 0px;
}
.role{
    color: #666685;
    font-size: 1.0em;
    text-align: center;
    font-family: 'Baloo Bhai';
    font-style: normal;
}


