<div class="m-t-md card profile" *ngIf='person'>
  <div class="row">
    <div class="col-xs-12 col-md-3 profile-img">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{person.profile_path}}" alt="Card image cap">
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="card-block">
          <h2 class="card-text profile-name">{{person.name}}</h2>
          <div class="row">
            <div class="col-xs-12 col-md-2"  *ngIf='person.birthday'>
                <button  type="button" class="btn btn-light btn-sm">Born: {{person.birthday}}</button>
            </div>
            <div class="col-xs-12 col-md-2"  *ngIf='person.place_of_birth'>
                <button  type="button" class="btn btn-light btn-sm">Birth Place: {{person.place_of_birth}}</button>
            </div>
            <div class="col-xs-12 col-md-2"  *ngIf='person.deathday'>
                <button  type="button" class="btn btn-light btn-sm">Died: {{person.deathday}}</button>
            </div>
          </div>              
          <h3 class="overview-header" *ngIf='person.biography'>Overview</h3>
          <p class="overview-text">{{person.biography}}</p>
        </div>
    </div>
  </div>
</div>

<div class="m-t-md" *ngIf='credits'>
    <h3 class="type-header" *ngIf='credits.cast.length > 0'>Cast <span class="count"> ({{credits.cast.length}})</span></h3>
    <div class="row">
      <div class="col-xs-12 col-md-4" *ngFor="let item of credits.cast">
          <div class="card movie-card">
              <a [routerLink]="['/movie', item.id]">
                <img class="card-img-top movie-img img-responsive" src="https://image.tmdb.org/t/p/w500/{{item.backdrop_path}}" onerror="this.onerror=null;this.src='http://drpattydental.com/wp-content/uploads/2017/05/placeholder.png';"  alt="" />
            </a>
            <div class="card-block">
                <h4 class="card-title movie-name">{{item.title}}</h4>
                <p class="card-text role">{{item.character}}</p>
            </div>
          </div>
      </div>
    </div>
    <h3 class="header" *ngIf='credits.crew.length > 0'>Crew <span class="count"> ({{credits.crew.length}})</span></h3>
    <div class="row">
      <div class="col-xs-12 col-md-4 person" *ngFor="let item of credits.crew">
          <div class="card movie-card">
            <a [routerLink]="['/movie', item.id]">
                <img class="card-img-top movie-img img-responsive" src="https://image.tmdb.org/t/p/w500/{{item.backdrop_path}}" onerror="this.onerror=null;this.src='http://drpattydental.com/wp-content/uploads/2017/05/placeholder.png';"  alt=""/>
            </a>
            <div class="card-block">
                <h4 class="card-title movie-name">{{item.title}}</h4>
                <p class="card-text role">{{item.department}}</p>
            </div>
          </div>
      </div>
    </div>
</div>
