<h1 class="page-title">
  Lists
</h1>
<div class="row" *ngIf='lists'>
  <div class="col-md-4" *ngFor="let list of lists" [routerLink]="['/list', list.id]">
    <a class="card">
      <div class="card-block">
        <h4 class="card-title list-type">{{list.name}}</h4>
        <p class="card-text list-count">{{list.count}}</p>
        <p class="delete-icon" *ngIf='list.type == "custom"'><span class="glyphicon glyphicon-trash"></span></p>
      </div>
    </a>
  </div>
  <a href='#' data-toggle="modal" data-target="#basicModal" class="col-md-4">
    <div class="card-block">
      <h4 class="card-title list-type">Add List</h4>
      <p class="card-text list-count"><span class="glyphicon glyphicon-plus-sign"></span></p>
    </div>
  </a>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Add List</h4>
      </div>
      <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="form-control-label">List Name:</label>
              <input type="text" name="listname" [(ngModel)]="listname" class="form-control" id="list-name">
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="addNewList($event)" value="Search" class="btn btn-success" data-dismiss="modal">Add List</button>
      </div>
    </div>
  </div>
</div>
