.page-title{
    color: #000033;
    font-size: 1.8em;
    line-height: 1.1em;
    display: inline-block;
    font-family: 'Baloo Bhai';
}
.list-type{
    color: #666685;
    font-size: 2.2em;
    text-align: center;
    font-family: 'Baloo Bhai';
    font-style: normal;
}
.list-count{
    color: #000033;
    font-size: 4.2em;
    text-align: center;
    font-family: inherit;
    font-style: normal;
    margin: 0px;
}
.delete-icon{
    right: 20px;
    margin: 0px;
    padding: 0px;
    text-align: right;
}
a:hover{
    text-decoration: none;
}
.card{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}