<h3 class="type-header" *ngIf='movies'> {{movies.length}} results found for <span class="query-string">"{{searchString}}"</span></h3>
<div class="row" *ngIf='movies'>
    <div class="col-md-3" *ngFor="let movie of movies" >
        <div class="card movie-card">
            <a [routerLink]="['/movie', movie.id]">
                <img class="card-img-top movie-img img-responsive" src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" onerror="this.onerror=null;this.src='http://drpattydental.com/wp-content/uploads/2017/05/placeholder.png';"  alt=""/>
            </a>
            <div class="card-block">
                <h4 class="card-title movie-name">{{movie.title}}</h4>
                <p class="card-text relase-date" *ngIf='movie.release_date'>Released On: {{movie.release_date}}</p>
                <!-- <button type="button" (click)="addWatched(movie)" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                <button type="button" (click)="addFavorite(movie)" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-heart"></i></button>
                <button id="btnGroupDrop1" type="button"class="btn btn-primary btn-circle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                        <i class="glyphicon glyphicon-list"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <button type="button" class="btn listbtn btn-lg btn-block"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watched</button>
                    <button type="button" class="btn listbtn btn-lg btn-block"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite</button>
                </div> -->
            </div>
        </div>
    </div>
</div>


