
.type-header{
    color: #000033;
    font-size: 1.8em;
    line-height: 1.1em;
    font-weight: 600;
    display: inline-block;
    font-family: 'Federant';
}
.query-string{
    color: gray;
    font-size: 0.8em;
    line-height: 1.1em;
    font-weight: 600;
    display: inline-block;
}
.movie-card{
    height: 270px;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 10px;
}
.movie-img{
    border-radius: 5px;
    height: 170px;
    width: 100%;
}
.movie-name{
    color: #000033;
    font-size: 1.1em;
    text-align: center;
    font-family: 'Baloo Bhai';
    font-style: normal;
    margin-top: 0px;
}
.relase-date{
    color: #666685;
    font-size: 1.0em;
    text-align: center;
    font-family: 'Baloo Bhai';
    font-style: normal;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    position: relative;
}
