.movie{
    background-color: #000000;
    padding: 10px;
}
.movie-img img{
    border-color: #000033;
    background-color: #666685;
    width: 100%;
    height: 100%;
    color: #000033;
    text-align: center;
    line-height: 150px;
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-size: 100%;
}
.movie-name{
    margin: 0;
    padding: 25px 0;;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
    color: #666685;
}
.overview-header{
    color: #BD97A3;
    font-size: 2.0em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
    font-family: "Nova Cut";
}
.overview-text{
    font-family: "Nova Cut";
    color: #E9DDE1;
}
.type-header{
    color: #000033;
    font-size: 2.0em;
    line-height: 1.1em;
    font-weight: 600;
    display: inline-block;
}
.count{
    color: gray;
    font-size: 0.8em;
    line-height: 1.1em;
    font-weight: 600;
    display: inline-block;
}
.person-card{
    height: 290px;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 10px;
}
.person-img{
    border-radius: 5px;
    width: 100%;
}
.person-name{
    color: #000033;
    font-size: 1.1em;
    text-align: center;
    font-family: 'Baloo Bhai';
    font-style: normal;
    margin-top: 0px;
}
.role{
    color: #666685;
    font-size: 1.0em;
    text-align: center;
    font-family: 'Baloo Bhai';
    font-style: normal;
}
.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 12px 0;
    font-size: 25px;
    line-height: 1.428571429;
    border-radius: 25px;
    position: relative;
    margin-left: 10px;
}
