<div class="container m-t-md card movie" *ngIf='movie'>
  <div class="row">
    <div class="col-xs-12 col-md-3 movie-img">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="Card image cap">
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="card-block">
          <h2 class="card-text movie-name">{{movie.title}}</h2>
          <div class="row">
            <div class="col-xs-12 col-md-1"  *ngFor="let genre of movie.genres">
                <button type="button" class="btn btn-secondary btn-sm">{{genre.name}}</button>
            </div>
          </div>
          <h3 class="overview-header" *ngIf='movie.overview'>Overview</h3>
          <p class="overview-text">{{movie.overview}}</p>
          <div class="buttongroup">
              <button type="button" (click)="addWatched(movie)" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
              <button type="button" (click)="addFavorite(movie)" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-heart"></i></button>
              <button id="btnGroupDrop1" type="button"class="btn btn-primary btn-circle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                      <i class="glyphicon glyphicon-list"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <button type="button" class="btn listbtn btn-lg btn-block"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watched</button>
                  <button type="button" class="btn listbtn btn-lg btn-block"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite</button>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="m-t-md" *ngIf='credits'>
    <h3 class="type-header" *ngIf='credits.cast.length > 0'>Cast</h3>
    <div class="row">
      <div class="col-xs-12 col-md-2" *ngFor="let item of credits.cast">
          <div class="card person-card">
            <a [routerLink]="['/person', item.id]">
                <img class="card-img-top person-img img-responsive" src="https://image.tmdb.org/t/p/w500/{{item.profile_path}}" onerror="this.onerror=null;this.src='http://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png';"  alt="" />
            </a>
            <div class="card-block">
                <h4 class="card-title person-name">{{item.name}}</h4>
                <p class="card-text role">{{item.character}}</p>
            </div>
          </div>
      </div>
    </div>
    <h3 class="header" *ngIf='credits.crew.length > 0'>Crew</h3>
    <div class="row">
      <div class="col-xs-12 col-md-2" *ngFor="let item of credits.crew">
        <div class="card person-card">
            <a [routerLink]="['/person', item.id]">
              <img class="card-img-top person-img img-responsive" src="https://image.tmdb.org/t/p/w500/{{item.profile_path}}" onerror="this.onerror=null;this.src='http://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png';"  alt="" />
          </a>
          <div class="card-block person-info">
              <h4 class="card-title person-name">{{item.name}}</h4>
              <p class="card-text role">{{item.department}}</p>
          </div>
        </div>
      </div>
    </div>
</div>